@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --clr: #222;
}

body {
  min-height: 100vh;
  background: var(--clr);
}
.container {
  display: flex;
}
.main {
  color: white;
  flex-grow: 1;
}
.header {
  height: 64px;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
}
.menuToggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuToggle::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  transform: translateY(-9px);
  box-shadow: 0 9px 0 black;
  transition: 0.5s;
  border-radius: 2px;
}
.menuToggle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  transform: translateY(9px);
  transition: 0.5s;
  border-radius: 2px;
}
.menuToggle.active::before {
  transform: translateY(0) rotate(45deg);
  box-shadow: none;
}
.menuToggle.active::after {
  transform: translateY(0) rotate(-45deg);
}

.sidebar {
  width: 80px;
  height: 100vh;
  background: white;
  transition: 0.5s;
  padding-left: 10px;
  overflow: hidden;
}
.sidebar.active {
  width: 300px;
}
.sidebar ul {
  position: relative;
  height: 100vh;
}
.sidebar ul li {
  position: relative;
  list-style: none;
}
.sidebar ul li.active {
  background: var(--clr);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.sidebar ul li.active::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--clr);
  background: transparent;
}
.sidebar ul li.active::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px var(--clr);
  background: transparent;
}
.logo {
  margin-bottom: 50px;
}
.logo .icon img {
  width: 50px;
  height: 50px;
}
.logo .text {
  font-size: 18px;
}
.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}
.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 70px;
  font-size: 16px;
  color: #333;
  transition: 0.5s;
  padding-left: 10px;
}
.sidebar ul li.active a .icon {
  color: white;
}
.sidebar ul li.active a .icon i {
  z-index: 1;
}
.sidebar ul li.active a .icon::before {
  content: '';
  position: absolute;
  inset: 5px;
  width: 60px;
  background: var(--bg);
  border-radius: 50%;
  transition: 0.5s;
}

.sidebar ul li a .text {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 15px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.sidebar ul li.active a .text {
  color: white;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.imgBx img {
  width: 40px;
  height: 40px;
}
