/* FONT FAMILY -- GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  background: #222;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #303030;
  z-index: 1;
}
.logo img{
  width: 40px;
  height: 40px;
}
.sns{
  display: flex;
  gap: 3rem;
}
.sns img{
  width: 40px;
}

.hambuger{
  display: flex;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 1rem 0;
  align-items: center;
  column-gap: 8px;
  justify-content: center;
}

.hambuger .icon {
  height: 2px;
  width: 30px;
  background: white;
  position: relative;
  display: inline-block;
  transition: all 0.4s ease;
}
.hambuger .icon::before, .hambuger .icon::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: white;
  transition: all 0.4s ease;
  left: 0;
}
.hambuger .icon::before{
  top: -8px;
}
.hambuger .icon::after{
  top: 8px;
}
.hambuger.active .icon{
  background: transparent;
}
.hambuger.active .icon::before{
  top: 0;
  transform: rotate(45deg);
}
.hambuger.active .icon::after{
  top: 0;
  transform: rotate(-45deg);
}

.nav{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 375px;
  top: 64px;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
  background: #51453d;
  z-index: 100;
}
.nav.active{
  transform: translateX(0);
}
.nav li a{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.bg{
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/avatar.png) no-repeat center center;
  background-size: 100%;
  object-fit: cover;
  border-radius: 50%;
  clip-path: circle(30% at 50% 50%);
  z-index: -1;
}

.half{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 1rem;
}
.half.right{
  margin-left: 50%;
}
.hello{
  font-size: 3rem;
  font-weight: bold;
}
.name{
  font-size: 5rem;
}
.work{
  font-size: 3.4rem;
}

.animated{
  background-image: url(../img/art.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.title{
  font-size: 3rem;
}
.sub{
  font-size: 2.4rem;
}
.text{
  font-size: 1.8rem;
}
.title::after{
  content: "";
  width: 5rem;
  border-bottom: 5px dashed #1eed86;
  display: block;
  margin-top: 0.5rem;
}
blockquote{
  font-style: italic;
  font-size: 1.6rem;
  padding: 2rem;
  background: rgba(255,255,255,0.1);
  border-radius: 1rem;
}

blockquote::after, blockquote::before{
  content: "";
  color: #1eed86;
  font-size: 2rem;
}
.skill-box span{
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid #1eed86;
  font-size: 1.6rem;
  padding: 0.25rem 0.75rem;
  font-weight: 400;
  border-radius: 1rem;
}