* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
}

section {
  height: 100vh;
}

.section-2 {
  height: 100vh;
  background-color: aquamarine;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
  height: 400px;
  background-color: white;
}


.sticky-wrapper {
  position: sticky;
  top: 0;
  left: 0;

}

.item {
  background: url(../img/1000x700.png) center center;
  height: 100vh;
}